.cards {  
  display: flex;
  flex-wrap: wrap;  
}

.cards h2 {
  color:black ;
  margin-bottom: 20px;
  align-items: center;   
  width: -webkit-fill-available;
  text-align: center;
}

.card {
  width: 900px;
  padding: 20px;
  display: flex; 
  border-radius: 6px;
  margin: 20px auto;
  justify-content: space-around;
  flex-wrap: 1;
  background-color: white;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  border-top: 1px;
  border-right: 2px;
  border-bottom: 1px;
  border-left: 2px;

}

.card img {
  width: 150px;
  border-radius: 6px;
}

.card a {
  padding-left: 20px;
}


